.container {
    background: url("https://images.alphacoders.com/218/thumb-1920-218193.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    height: 100vh;
}
button {
    width: 10%;
    height: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.add-button {
    background: dodgerblue;

}
.container div {
    width: 70%;
}
.container .maxInfo {
    display: flex;
    flex-direction: column;
    width: 200px;
}
.maxInfo h3 {
    margin: 0;
}
input {

    width: 90%;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    letter-spacing: 2px;
}
.city {
    position: relative;
    transition: .5s;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    width: 70%;
    height: 80px;
    background: orange;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.delete-button {
    background: indianred;
}
.city h2 {
    width: 150px;
}
.search-field {
    box-sizing: border-box;
    background-image: linear-gradient(to right, yellow 30%, #4830F0 60%);
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    padding: 20px;
    display: flex;
    border-radius: 10px;
}
.change-city-input {
    width: 150px;
    border-radius: 0;
}
.change-city-button {
    background: dodgerblue;
    position: absolute;
    left: 30px;
    bottom: 0px;
    width: 175px;
    height: 20px;
    border-radius: 0;
}

.alert {
    color: #9F6000;
    background-color: #FEEFB3;
    position: absolute;
    top: 200px;
    width: 100%;
    z-index: 600;
    transition: 2s;
    border: 2px solid #9F6000;
    border-radius: 20px;
    text-align: center;
}
@media (max-width: 1024px) {
    .container {
        font-size: 27px;
    }
    .container div {
        width: 100%;
    }
    .container button {
        font-size: 17px;
        border-radius: 50%;
        height: 100px;
    }
    .city {
        height: 200px;
    }
    .search-field {
        height: 200px;
    }
    input {
        font-size: 75px;
    }


}

